main {
  flex: 1;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
}

@media (max-width: 1000px) {
  main ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 840px) {
  main ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 640px) {
  main ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 440px) {
  main ul {
    grid-template-columns: 1fr;
  }
}
