.people-list {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.people-list article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.people-list article strong {
  text-transform: uppercase;
}

.people-list article p {
  font-size: 16px;
  color: #999;
}

.people-list article a {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #024795;
  background: none;
  margin-top: 10px;
  color: #024795;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.people-list article a:hover {
  background: #024795;
  color: #fff;
}
